<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Screen</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="index-body">

<div class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>The African Jewelry Shop</h1>
        <h2>
            Ancient beauty. Modern style.<br>
            African jewelry that speaks
        </h2>

        <button onclick="window.location.href='/login'">
            Discover Beauty
        </button>
    </div>
</div>

</body>
</html>
