<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The African Jewelry Shop -- Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body id="login-body">
<div class="login-hero">

    <div class="login-container">

        <button class="back-button"
                type="button"
                onclick="window.location.href='/index'">
            Back to Home Page
        </button>

        <div class="login-card">
            <h1>Login</h1>

            <form th:action="@{/login}" method="post">
                <input name="username"
                       placeholder="Email/Username"
                       autocomplete="off"
                       required>

                <input name="password"
                       type="password"
                       placeholder="Password"
                       autocomplete="off"
                       required>

                <a th:href="@{/catalog}">
                    <button class="login-submit" type="button">
                        Login
                    </button>
                </a>
            </form>

            <p th:if="${param.error}" class="login-error">
                Invalid username or password
            </p>

            <p class="login-signup-text">
                Don't have an account?
                <a th:href="@{/signup}">Sign Up</a>

            </p>
        </div>
    </div>
</div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>