<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Screen</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="login-body">

<div class="login-hero">
    <div class="hero-overlay"></div>

    <div class="login-container">

        <button class="back-button"
                type="button"
                onclick="window.location.href='/index'">
            Back to Home Page
        </button>

        <div class="login-card">
            <h1>Login</h1>

            <form th:action="@{/login}" method="post">
                <input name="username"
                       placeholder="Email/Username"
                       autocomplete="off">

                <input name="password"
                       type="password"
                       placeholder="Password"
                       autocomplete="off">

                <button class="login-submit" type="submit">Login</button>
            </form>

            <p th:if="${param.error}" class="login-error">
                Invalid username or password
            </p>

            <p class="login-signup-text">
                Don't have an account?
                <a th:href="@{/signup}">Sign Up</a>

            </p>
        </div>
    </div>
</div>

</body>
</html>
