<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Item</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body id="admin-add-item-body">

<div class="admin-header">
    <button type="button" onclick="toggleMenu()">☰</button>
    <h1>The African Jewelry Shop</h1>
    <h2><a th:href="@{/checkout}">Checkout</a></h2>
</div>

<h2 class="admin-section-title">Add New Product</h2>

<form class="admin-form"
      th:action="@{/admin/add-item}"
      method="post">

    <label>
        Product Name
        <input type="text" name="name" required>
    </label>

    <label>
        Price
        <input type="number" name="price" min="1" required>
    </label>

    <label>
        Image Path (ex: /images/diamond-necklace.png)
        <input type="text" name="imagePath" required>
    </label>

    <button type="submit" class="gold-button">Add Product</button>
</form>

<p th:if="${param.success}"
   class="admin-success">
    Item Added Successfully
</p>

<p><a th:href="@{/admin/catalog}">Back to Catalog</a></p>


<script>
    function toggleMenu() {
        const menu = document.getElementById('admin-menu');
        if(menu) menu.classList.toggle('open');
    }
</script>

</body>
</html>
